.DrawPage{
  width: 100%;
  height: 100vh;
}

.sketchBoard{
  position: fixed;
  z-index: -10;
}

.optionsBar{
  display: flex;
  justify-content: center;
  align-items : center;
  width: 100%;
  background-color: rebeccapurple;
  padding: 15px;
}

.eraser{
  border-radius: 100vh;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  box-shadow: rgb(163, 163, 163) 1px 1px 10px;
  background-color: #ecf0f1;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.eraser:hover{
  transform: scale(1.05);
}

.clearAll{
  border-radius: 100vh;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  box-shadow: rgb(163, 163, 163) 1px 1px 10px;
  background-color: #ecf0f1;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.clearAll:hover{
  transform: scale(1.05);
}

.colorPickerBtn{
  border-radius: 100vh;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  box-shadow: rgb(163, 163, 163) 1px 1px 10px;
  background-color: #ecf0f1;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.colorPickerBtn:hover{
  transform: scale(1.05);
}

.colorPickerContainer{
  z-index: 10;
}

.colorPicker{
  position: absolute;
  display: none;
}

.mainOptions{
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.roomNameDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 20px;
  font-size: 13px;
}

.speedSlider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.speedSlider:hover{
  opacity: 1;
}

.speedSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 100vh;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.speedSlider::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  border-radius: 100vh;
  cursor: pointer; /* Cursor on hover */
}